{
  "videos": "videos",
  "mapping": "mapping.csv",
  "data":"data",
  "snaps": "readme",
  "confidence": 0.7,
  "model": "yolo11x.pt",
  "tracking_mode": true,
  "always_analyse": false,
  "display_frame_tracking": false,
  "save_annoted_img": false,
  "save_tracked_img": false,
  "delete_labels": true,
  "delete_frames": true,
  "delete_runs_files": true,
  "font_family": "Open Sans, verdana, arial, sans-serif",
  "font_size": 18,
  "plotly_template": "plotly_white",
  "logger_level": "info"
}
